.icons-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2vw;
}

.icon-row {
    display: flex;
    flex-direction: row;
    margin: 5px;
    width: 100%;
}

.ms {
    background-color: rgb(235, 95, 118);
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.legend {
    font-size: 1.05vw;
}

.bs {
    background-image: url(../img/bs.svg);
    background-color: #ffc952;
    background-size: cover;
}

.first {
    width: 1.85vw;
    height: 1.85vw;
}

.second {
    margin-left: 1.5vw;
}

.third {
    font-weight: bold;
    font-size: 0.8vw;
    text-align: center;
}

.path {
    background-color: #34314c;
}

.block {
    background-color: #47b8e0;
}

.transmission {
    margin-top: 0.8vw;
    height: 5px;
    width: 1.85vw;
    background-color: #ffc952;
}

.entrancee {
    background-size: cover;
    background-image: url(../img/arrow1.svg);
}

.enteringg {
    background-size: cover;
    background-image: url(../img/arrow1.svg);
    filter: invert(44%) sepia(91%) saturate(3801%) hue-rotate(135deg) brightness(92%) contrast(102%);
}

.leavingg {
    background-size: cover;
    background-image: url(../img/arrow3.svg);
    filter: invert(18%) sepia(75%) saturate(1692%) hue-rotate(335deg) brightness(120%) contrast(98%);
}