body {
    background-color: #edf5e1;
}

img {
    width: 80px;
    height: 80px;
    /* filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%); */
}

.containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plot-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plot-container > div {
    margin: 10px;
}

#logo {
    width: 35px;
    height: 35px;
}

#dropdown {
    position: relative;
    margin-top: 50px;
    display: none;
}
