.icons-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2vw;
    width: 100%;
    /* background-color: #fff; */
}

.icon-row {
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    margin: 5px;
    width: 100%;
}

.ms {
    background-color: rgb(235, 95, 118);
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.legend {
    font-size: 20px;
}

.bs {
    background-image: url(bs.svg);
    background-color: #ffc952;
    background-size: cover;
}

.first {
    margin-left: 2vw;
    width: 36px;
    height: 36px;
}

.second {
    margin-left: 1.5vw;
}

.third {
    /* margin-left: 0.5vw; */
    /* background-color: #fff; */
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.path {
    background-color: #34314c;
}

.block {
    background-color: #47b8e0;
}

.transmission {
    margin-top: 13px;
    height: 5px;
    width: 36px;
    background-color: #ffc952;
}

.entrance {
    background-size: cover;
    background-image: url(arrow1.svg);
}

.entering {
    background-size: cover;
    background-image: url(arrow1.svg);
    filter: invert(44%) sepia(91%) saturate(3801%) hue-rotate(135deg) brightness(92%) contrast(102%);
}

.leaving {
    background-size: cover;
    background-image: url(arrow3.svg);
    filter: invert(18%) sepia(75%) saturate(1692%) hue-rotate(335deg) brightness(120%) contrast(98%);
}